/* Block for advice */
@import url("../advice/__title/advice__title.css");
@import url("../advice/__text/advice__text.css");
@import url("../advice/__divider/advice__divider.css");
@import url("./__button/advice__button.css");
@import url("../advice/__dice-icon/advice__dice-icon.css");

.advice {
    background: #313A48;
    box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    margin: 120px auto 200px auto;
}

@media screen and (min-width: 768px) {
    .advice {
        width: 60%;
        margin: 120px auto 200px auto;
    }
  }

@media screen and (min-width: 1440px) {
    .advice {
        width: 38%;
        margin: 223px auto 223px auto;
    }
}