

.advice__button {
    position: absolute;
    bottom: -32px;
    width: 64px;
    height: 64px;
    background: #53FFAA;
    border-radius: 50%;
    border: 0;
    cursor:pointer;
}

.advice__button:hover {
    box-shadow: 0px 0px 40px #53FFAA;
}